{% strip %}

{% comment %}
  Pagination either for individual posts or for pages
{% endcomment %}

<nav class="pagination">
{% if page.is_post %}
  <!-- begin post pagination -->
  <ul class="pagination__menu">
  {% if page.previous.url %}
    <li class="pagination__item"><a href="{{ page.previous.url }}" class="pagination__link pagination__link--prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a></li>
  {% endif %}
  {% if page.next.url %}
    <li class="pagination__item"><a href="{{ page.next.url }}" class="pagination__link pagination__link--next" title="{{ page.next.title }}">{{ page.next.title }}</a></li>
  {% endif %}
  </ul><!-- end post pagination -->
{% else %}
  <!-- begin page navigation -->
  <ul class="pagination__menu">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li><a href="/" class="pagination__link pagination__link--prev" title="Previous Page">Previous</a></li>
    {% else %}
      <li><a href="/page/{{ paginator.previous_page }}/" class="pagination__link pagination__link--prev" title="Previous Page">Previous Page</a></li>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %} 
    <li class="pagination__item"><a href="/page/{{ paginator.next_page }}/" class="pagination__link pagination__link--next" title="Next Page">Next Page</a></li>
  {% endif %}
  </ul><!-- end page pagination -->
{% endif %}
</nav>
{% endstrip %}
