{% comment %}
  If the image is rendered on an archive page
  use it as a background image.
{% endcomment %}

{% if page.is_archive %}
<div style="width: 320px; height: 320px; background-size: cover; background-image: url({{ post.thumb }});">Item</div>


{% comment %}
  If the image is rendered in a post
  use this snippet.
{% endcomment %}

{% elsif page.is_post %}
<figure class="figure">
  <img class="figure__image" src="{{ page.image }}" srcset="{{ page.image }} 1x, {{ page.image2x }} 2x" alt="{{ page.alt }}" />
  <figcaption class="figure__caption">{{ page.caption }}</figcaption>
</figure>

{% comment %}
  If the image is rendered on a page
  use this snippet.
{% endcomment %}

{% elsif page.is_page %}
<figure class="figure">
  <img class="figure__image" src="{{ post.image }}" srcset="{{ post.image }} 1x, {{ post.image2x }} 2x" alt="{{ post.alt }}" />
<figcaption class="figure__caption">{{ post.caption }}</figcaption>
{% endif %}
