.page-content {
  @include container();
  margin-left: gutters();
  margin-right: gutters();
  background-color: $bg-color;
  @include breakpoint($mama-bear) {
    @include container(60em 12);
  }
}




.wrapper {
  @include breakpoint($mama-bear) {
    @include span(8 of 12);
    @include pre(2 of 12);
  }
}


.page-header {
  text-align: center;

  a {
    text-decoration: none;
    color: $text-color;
    &:hover {
      color: $accent-color;
    }
  }

}


.full-width {
  text-align: center;
  margin-left: gutters() * -1;
  margin-right: gutters() * -1;
  @include trailer();
  @include breakpoint($mama-bear) {
    margin-left: 0;
    margin-right: 0;
  }
}


footer {
  @include span(4 of 4);
  text-align: center;


  p { }

}


.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    text-align: center;
  }
}

.post-link {
  display: block;
}
