@import "compass";
@import "normalize";
@import "susy";
@import "breakpoint";

@import "variables";
@import "typography";
@import "buttons";
@import "pagination";
@import "layout";
@import "syntax-highlighting";

body {
  font-family: $sans-serif;
  color: $text-color;
  background-color: $bg-color;
  background-color: pink;
}

img {
  max-width: 100%;
}

