// 1. Configuration and helpers
@import
  "abstracts/variables",
  "abstracts/settings",
  "abstracts/mixins";

// 2. Vendors
@import
  "normalize",
  "bourbon",
  "susy",
  "typey",
  "breakpoint";


// 3. Base stuff
@import
  "base/typography";

// @import "abstracts/variables";
// @import "base/media";
// @import "base/typography";
// @import "components/logo";
// @import "components/buttons";
// @import "layout/header";
// @import "layout/navigation";
// @import "components/pagination";
// @import "components/post-image";
// @import "layout/layout";
// @import "base/syntax-highlighting";

// body {
//   margin: 0;
//   font-family: $sans-serif;
//   color: $text-color;
//   color: red;
//   background-color: $bg-color;
//   @include breakpoint($mama-bear) {
//     margin-left: gutter();
//     margin-right: gutter();
//   }
// }

// img {
//   max-width: 100%;
// }


body:before {
    content: "breakpoint";
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: yellow;
    padding: 0.5em 1em;
    text-transform: uppercase;
    //font-family: $sans-serif;
    z-index: 1000;
    /*    @include rotate(270deg);
        @include transform-origin(0, 0, 0);*/

    // @include breakpoint($baby-bear) {
    //     content: "Baby Bear";
    // }
    // @include breakpoint($mama-bear) {
    //     content: "Mama Bear";
    // }
    // @include breakpoint($papa-bear) {
    //     content: "Papa Bear";
    // }
}

img {
  max-width: 100%;
}

.overlay {
  opacity: 0;
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(255,0,0,.25);
    opacity: 0;
    @include transition(opacity 2s);
  .zoomed & {
    opacity: 1;
  }
}

img {
    width: 100%;
    max-width: 100%;
}

.js-zoom {

}

.zoomableimage {
    @include transition(all 300ms cubic-bezier(1, 0, 0, 1));
    will-change: all;
  &--zoomed {
    position: relative;
    z-index: 1000;
  }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: deeppink;
    z-index: 999;
    opacity: 0;
    @include transition(opacity 300ms cubic-bezier(1, 0, 0, 1));
    .active-zoom & {
      opacity: 1;
    }
}