@import  "normalize/import-now";
@import  "bourbon";
@import  "susy";
@import  "breakpoint";

// @import "abstracts/variables";
// @import "base/media";
// @import "base/typography";
// @import "components/logo";
// @import "components/buttons";
// @import "layout/header";
// @import "layout/navigation";
// @import "components/pagination";
// @import "components/post-image";
// @import "layout/layout";
// @import "base/syntax-highlighting";

// body {
//   margin: 0;
//   font-family: $sans-serif;
//   color: $text-color;
//   color: red;
//   background-color: $bg-color;
//   @include breakpoint($mama-bear) {
//     margin-left: gutter();
//     margin-right: gutter();
//   }
// }

// img {
//   max-width: 100%;
// }


body:before {
    content: "breakpoint";
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: yellow;
    padding: 0.5em 1em;
    text-transform: uppercase;
    //font-family: $sans-serif;
    z-index: 1000;
    /*    @include rotate(270deg);
        @include transform-origin(0, 0, 0);*/

    // @include breakpoint($baby-bear) {
    //     content: "Baby Bear";
    // }
    // @include breakpoint($mama-bear) {
    //     content: "Mama Bear";
    // }
    // @include breakpoint($papa-bear) {
    //     content: "Papa Bear";
    // }
}

body {
    color: green;
}

img {
    width: 100%;
    max-width: 100%;
}

.js-zoom {
    @include transition(all 100ms ease-in-out);
}