---
layout: default
---
<article class="post">
{% if page.image %}
  <div class="post__image full-width">
    {% include post-image.html %}
  </div>
{% endif %}
  <div class="post__wrapper">
    <header class="post__header">
      <h1 class="post__title">{{ page.title }}</h1>
      {% comment %}<p class="post__meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>{% endcomment %}
    </header>
    <div class="post__content">
      {{ content }}
    </div>
  </div>
</article>
{% include pagination.html %}
