.page-content {
  @include container();
  margin-left: 1em;
  margin-right: 1em;
  @include breakpoint($mama-bear) {
    @include container(60em 12);
  }
}


.wrapper {
  @include breakpoint($mama-bear) {
    @include span(8 of 12);
    @include pre(2 of 12);
  }
}


.site-header {
  text-align: center;
  @include leader(2);

  a {
    text-decoration: none;
    color: $text-color;
    &:hover {
      color: $accent-color;
    }
  }

}


.full-width {
  text-align: center;
  margin-left:  -1em;
  margin-right: -1em;
  @include trailer();
  @include breakpoint($mama-bear) {
    @include container(63em);
  }
}


footer {
  text-align: center;
  @include leader(3);
  
  p  { @include adjust-font-size-to(12px); }

}
