/* Susy Setup
--------------------*/
$susy: (
  columns: 4,
  gutters: .25,
  debug: (
    image: hide,
//    image: show,
//     image: show-baseline,
    color: rgba(#F00, .25),
    output: background,
  )
);


/* Breakpoints
--------------------*/

$baby-bear:        max-width 40em;
$mama-bear:        40em;
$papa-bear:        min-widht 65em;


/* Typography
--------------------*/

$serif:            "adobe-caslon-pro", Merriweather, serif;
$sans-serif:       "ff-dagny-web-pro", Roboto, Helvetica, Arial, sans-serif;

$base-font-size:   16px;
$base-line-height: 24px;

/* Colors
--------------------*/

$text-color:       #3E3E3E;
$light-color:      #666;
$accent-color:     #4178BE;
$bg-color:         #FBFBFB;
