@import "compass";
@import "normalize";
@import "susy";
@import "breakpoint";

@import "variables";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans-serif;
  color: $text-color;
  background-color: $bg-color;
}

